<%- include("header") -%>

<!--https://ejs.co/  / TAG 부분 참고 -->
<!--<% if (listTitle == "Friday") { %>-->
<!--    <h1 style="color: purple"><%= listTitle %> ToDo List</h1>-->
<!--<% } else { %>-->
<!--    <h1 style="color: blue"><%= listTitle %> ToDo List</h1>-->
<!--<% } %>-->

<div class="box" id="heading">
    <h1> <%= listTitle %></h1>
</div>

<div class="box">
    <% for(let i = 0; i < newListItems.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p>
        </div>
    <% } %>

    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%=listTitle %>">+</button>
    </form>
</div>

<%- include("footer") -%>
